html, body { 
	margin: 0; 
	padding:0;
	background-image: url('WebsiteImages/GreyBackground.png');
	cursor: url('WebsiteImages/Cursor.png'), auto;
}

a:hover {
	cursor: url('WebsiteImages/BlueCursor.png'), auto;
}

#PageTopDiv {
	background-color: #2C2C2C;
	height: 400px;
	width: 100%;
	position: fixed;
	transition: 0.2s;
	top: 0;
}

#PageHeading {
	  text-align: center;
	  color: #FFFFFF;
	  font-size: 50px;
	  padding-top: 0px;
}

#LinkHeading {
	text-align: center;
	color: #FFFFFF;
}

#PageLink {
	color: #FFFFFF;
}

#PageContent {
	padding-top: 500px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 200px;
}

#ProjectsHeader {
	color: #741b47;
	text-align: center;
	font-size: 50px;
}

#ProjectNameHeader {
	color: #741b47;
	text-align: center;
	font-size: 40px;
}

#ProjectAnchors {
	color: #741b47;
	text-align: center;
	font-size: 20px;
}

#ProjectText {
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

#MonsterCorridor {
	Height: 50%;
	Width: 50%;
	transition: transform .2s;
}

#MonsterCorridor:Hover {
	transform: scale(1.5);
}